################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhoneAppDir/.vs/PhoneAppDir/v15/Server/sqlite3
/PhoneAppDir/PhoneClient/obj/Debug
/PhoneAppDir/JSONCodingChallenge/.vs/config/applicationhost.config
/PhoneAppDir/JSONCodingChallenge/.vs/JSONCodingChallenge/v15/Server/sqlite3/storage.ide
/PhoneAppDir/JSONCodingChallenge/.vs/JSONCodingChallenge/v15/Server/sqlite3/db.lock
/PhoneAppDir/JSONCodingChallenge/.vs/JSONCodingChallenge/v15/Server/sqlite3/storage.ide-shm
/PhoneAppDir/JSONCodingChallenge/.vs/JSONCodingChallenge/v15/Server/sqlite3/storage.ide-wal
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/PhoneAppDir/JSONCodingChallenge/.vs/JSONCodingChallenge/DesignTimeBuild/.dtbcache
