################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhoneAppDir/.vs/PhoneAppDir/v15/Server/sqlite3
/PhoneAppDir/PhoneClient/obj/Debug
